parameters:
    ignoreErrors:
        - # https://github.com/phpstan/phpstan-phpunit/issues/87
            message: '#^Trying to mock an undefined method [a-zA-Z]*\(\) on class stdClass\.$#'
            path: tests/
        - # https://github.com/doctrine/persistence/pull/163
            message: '#Parameter \#1 \$class of method Sonata\\DoctrineORMAdminBundle\\FieldDescription\\FieldDescriptionFactory\:\:getMetadata\(\) expects class-string, string given.$#'
            path: src/FieldDescription/FieldDescriptionFactory.php
