parameters:
    level: 2
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Trying to mock an undefined method [a-zA-Z]*\(\) on class stdClass\.#'
    treatPhpDocTypesAsCertain: false
