parameters:
	ignoreErrors:
		-
			message: "#^Method Sonata\\\\BlockBundle\\\\Block\\\\Service\\\\AbstractBlockService\\:\\:__construct\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: src/Block/AuditBlockService.php

