parameters:
    ignoreErrors:
        - # https://github.com/phpstan/phpstan-phpunit/issues/87
            message: '#^Trying to mock an undefined method [a-zA-Z]*\(\) on class stdClass\.$#'
            path: tests/
