includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: true
    checkInternalClassCaseSensitivity: true
    checkMissingIterableValueType: true
    checkMissingVarTagTypehint: true
    checkMissingTypehints: true
    checkUninitializedProperties: true
