<?php

$autoload = __DIR__.'/../../../../../../app/bootstrap.php.cache';
if (is_file($autoload)) {
    include $autoload;
} else {
    $vendorDir = __DIR__.'/../../vendor';
    require_once $vendorDir.'/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

    $loader = new Symfony\Component\ClassLoader\UniversalClassLoader();
    $loader->registerNamespaces(array(
        'Symfony'               => array($vendorDir.'/symfony/src'),
        'Knp'                   => array($vendorDir.'/knpmenu/src'),
        'Sonata\\AdminBundle'   => array($vendorDir),
        'Doctrine\\ORM'         => array($vendorDir.'/doctrine/lib'),
        'Doctrine\\Common'      => array($vendorDir.'/doctrine-common/lib')
    ));
    $loader->register();

    spl_autoload_register(function($class) {
        if (0 === strpos($class, 'Sonata\\DoctrineORMAdminBundle\\')) {
            $path = __DIR__.'/../../'.implode('/', array_slice(explode('\\', $class), 2)).'.php';

            if (!stream_resolve_include_path($path)) {
                return false;
            }
            require_once $path;
            return true;
        }
    });
}

