{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
<ul class="sonata-ba-show-one-to-many">
    {% for element in value%}
        {% if
            field_description.hasassociationadmin
            and field_description.options.route is defined
            and field_description.associationadmin.isGranted(field_description.options.route.name == 'show' ? 'VIEW' : field_description.options.route.name|upper, object)
            and field_description.associationadmin.hasRoute(field_description.options.route.name)
        %}
            <li><a href="{{ field_description.associationadmin.generateObjectUrl(field_description.options.route.name, element, field_description.options.route.parameters) }}">{{ element|render_relation_element(field_description) }}</a></li>
        {% elseif field_description.associationadmin.isGranted('EDIT') and field_description.associationadmin.hasRoute('edit') %}
            <li>{{ element|render_relation_element(field_description) }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}
